.toc-container {
    background-color: #1F1E2E;
    width: 25vw;
    height: 100%;
}

.toc-content-container {
    background-color: #15141F;
    width: 75vw;
    height: 100%;
}

.encyclopedia-container {
    height: 100%;
    width: 100%;
    display: flex;
}