* {
	margin:0;
}


.footer {
  text-align: center;
  z-index: 100;
  position: relative;
	height: 60px;
	background: #212121;
}

.logo {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	color: yellowgreen;
	background: #212121;
}

.copyright {
	text-align: left;
	padding-bottom: 20px;
	padding-left: 20px;
	color: #fff;
	background: #212121;
}

.footerlink {
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #212121;
}

#wrapper {
	background: #212121;
	width: 100%;
	overflow:hidden;
} 

.grid-container--fit {
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-container {
	display: grid;
	padding-left: 100px;
	padding-right: 50px;
	text-align: center;
	padding-bottom: 50px;
	margin: auto;
}

.grid-element {
	padding-bottom: 50px;
	font-size: 14px;
	color: #fff;
	text-align: left;
	
}

.grid-element h4 {
	font-size: 20px;
}

a {
	color: #fff;
	text-decoration: none;
	white-space: pre-line;
}

a:hover {
  color: lightgray;
}