.animated_word1 {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
    text-align: center
}

.circlePics {
    padding-top: 10px;
    border-radius: 100%;
    height: 9vh;
    width: auto;
}

.testimonial-company{
    height: 5vh;
}

.testimonials-container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 89%;
	display: flex;
	flex-wrap: wrap;
	height: 700px;
}

.testimonials{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    flex-basis: 19%;
    height: 38vh;
    border-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.testimonial-name{
    margin: 0;

}

.testimonials-bounds{
    transform: translateY(-10%);
}

.teamMembers {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	flex-basis: 25%;
	height: 400px;
	border-color: black;
	border-radius: 10px;
	line-height: 1em;
}

.testimonial-quote{
    padding: 10px;
    font-size: 0.95em;
    text-align: left;
}

.home-container{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	height: 100%;
	padding-top: 175px;
	/*background: linear-gradient(210deg,#fc9a57 0%,#dd45d3 40.13%,#943cff 90%);*/
	background-image: radial-gradient(circle farthest-corner at center, rgb(23, 23, 23) 0%, #151923 100%);
}

.background-curve{
	position: absolute;
	top: 0;
	width: auto;
	height: 100%;
}

.companyTitle {
    color: grey;
    margin: 0;
    font-size: 0.9em;
}

.slideshow-block {
	text-align: center;
	padding-top: 20px;
}

.slideshow {
	text-align: left;
	width: 100%;
	height: 100%;
}

.hero-title {
	font-size: 44px;
	color: #091241;
	font-weight: 500;
	font-family:  "Muli-Bold", sans-serif;
	margin: 0;
	text-align: left;
}

.slick-active button::before{
	color: #091241 !important;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url(../Poppins-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Muli-Bold';
	src: url(../Muli-Bold.woff) format('woff');
}

.hero-subtitle {
	font-size: 19px;
	color: #04081a;
}

.hero-button {
	color: #fff;
	background-color: black;
	max-width: 200px;
	width: 100%;
	padding: 16px;
	border: none;
	border-radius: 25px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
	text-align: center;
	font-family: 'Muli-Bold';
	cursor: pointer;
	transition: 0.5s;
	margin-top: 25px;
}

.hero-button:hover{
	background-color: white;
	color: black;
}


.slideshow-component {
	outline: none;
	padding-top: 20px;
	align-items: center;
	width: 100vw;
	margin: 0 auto;
	height: 70vh;
	text-align: center;
}

.about-block {
	text-align: center;
	width: 100%;
}

.animatedBlock {
	text-align: center;
	padding-top: 20px;
}

.topics-list {
	list-style-type: none;
	padding-left: 0;
}

.features-list {
	list-style-type: none;
	padding-left: 0;
}

.flex-container {
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.flex-item {
	flex-basis: 30%;
	margin: 20px auto;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	width: 25vw;
	height: 200px;
	border-color: black;
	border-radius: 10px;
	display: flex;
}

.topic-segments-container {
	border-top: black;
	border-width: 5px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.segment-container {
	text-align: left;
	;
	display: flex;
	padding: 50px 20px;
}

.left-explain-panel {
	text-align: left;
	padding: 25px;
	margin-right: 25px;
}

.right-explain-panel {
	text-align: right;
	padding: 25px;
	margin-right: 25px;
}

.title {
	font-size: 34px;
	font-family: 'Palanquin-Regular';
	font-weight: bold;
}

.description {
	padding-top: 15px;
	font-size: 16px;
	font-family: 'Palanquin-Regular';
}

.example-graph-holder {
	width: 750px;
	height: 250px;
	margin-top: 100px;
	padding: 10px;
}

.segment-title {
	margin: 20px auto 0px auto;
	font-size: 34px;
	font-family: 'Palanquin-Regular';
	font-weight: bold;
}

.topic-segments-description {
	margin: 5px auto 0px auto;
	font-size: 16px;
	max-width: 42%;
	font-family: 'Palanquin-Regular';
}

.topics-container {
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.topics-item {
	flex-basis: 30%;
	margin: 20px auto;
	padding-top: 15px;
	text-align: center;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24);
	width: 200px;
	height: 50px;
	border-color: black;
	border-radius: 10px;
	background-color: slateblue;
	color: white;
	font-size: 20px;
	font-family: 'Palanquin-Regular';
}

.data-error {
	height: 25px;
}


.btn-content {
	display: inline-block;
}



.link-google {
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.companies-container {
	padding: 1rem;
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	background: white;
	filter: grayscale(100%);
}

.inner-companies-container {
	max-width: 70rem;
	margin: 0 auto;
}

.logos-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.company-item-img {
	height: 40px;
	vertical-align: middle;
	
}

#crossfade {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#crossfade>img {
    height: 40px;
	color: transparent;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;

    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s;
}

#crossfade>img:nth-child(2) {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	-o-animation-delay: 0.25s;
	-ms-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

#crossfade>img:nth-child(3) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

#crossfade>img:nth-child(4) {
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	-ms-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

#crossfade>img:nth-child(5) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}

#crossfade>img:nth-child(6) {
	-webkit-animation-delay: 1.25s;
	-moz-animation-delay: 1.25s;
	-o-animation-delay: 1.25s;
	-ms-animation-delay: 1.25s;
	animation-delay: 1.25s;
}

#crossfade>img:nth-child(7) {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#crossfade>img:nth-child(8) {
	-webkit-animation-delay: 1.75s;
	-moz-animation-delay: 1.75s;
	-o-animation-delay: 1.75s;
	-ms-animation-delay: 1.75s;
	animation-delay: 1.75s;
}

#crossfade>img:nth-child(9) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}

#crossfade>img:nth-child(9) {
	-webkit-animation-delay: 2.25s;
	-moz-animation-delay: 2.25s;
	-o-animation-delay: 2.25s;
	-ms-animation-delay: 2.25s;
	animation-delay: 2.25s;
}

#crossfade>img:nth-child(10) {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

@-webkit-keyframes imageAnimation {
	0% {
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
	}
	100% {
		opacity: 1
	}
}

@-moz-keyframes imageAnimation {
	0% {
		opacity: 0;
		-moz-animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
	}
	100% {
		opacity: 1
	}
}

@-o-keyframes imageAnimation {
	0% {
		opacity: 0;
		-o-animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
	}
	100% {
		opacity: 1
	}
}

@-ms-keyframes imageAnimation {
	0% {
		opacity: 0;
		-ms-animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
	}
    100% {
		opacity: 1
	}
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
	}
	100% {
		opacity: 1
	}
}

.background-video{
	width: 45vw;
	margin-left: 18px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tutorial-video{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0.5em;
}

.tutorial-image{
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
}