
.codemirror-container{
	height: 100%;
	overflow-y: hidden;
}

.ide-container{
	float: left;
	width: 100%;
	height: 100%;
	font-size: 0.9em;
	text-align: left;
}

.inactive-container{
	 opacity: 0;
}

.cm-s-monokai{
	background-color:#131417 !important;
	height: 100% !important;
}

.CodeMirror-gutters{
	background-color:rgb(24, 28, 34) !important;
}

.problem-container, .gutter.gutter-horizontal{
	height: 100%;
	overflow-y: hidden;
	width: 100%;
	
}

.problem-container-pointer{
	pointer-events: all !important;
}


.gutter.gutter-horizontal {
	cursor: col-resize;
	width: 8px !important;
	float: left;
}

.gutter:hover{
	background-color: rgb(170, 179, 184);
}

.gutter{
	background-image: url(../imgs/gutter.png);
	background-color: rgb(16, 18, 22);
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: all !important;
}

.problems-container{
	display: flex;
}

.codeblock{
	margin: 1.5em 0.5em;
}

.codemirror-toolbar{
	background-color: rgb(16, 18, 22);
	display: flex;
	height: 35px;
	font-size: 0.8em;
}

.timer-image{
	height: 3vh;
	margin: auto;
}

.timer-button{
	margin: auto;
	background: rgb(16, 18, 22);
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	display: flex;
	outline:none;
	height: 100%;
	width: 5vw;
	cursor: pointer;
}

.timer-button:hover{
	background: rgb(25, 24, 26);
}

.timer-text{
	color: white;
	margin: auto;
	margin-right: 10px;
}

.admin-ide-container{
	display: flex;
}
.admin-ide{
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.12), 1px 2px 2px rgba(0,0,0,0.24);
}

.admin-ide-container{
	text-align: center;
}

.cm-s-ayu-dark{
	background-color: #1e1e1e !important;
	height: 40vh !important;
	width: 45vw;
}

.admin-ide-topbar{
	display: flex;
}

.Dropdown-root{
	margin: auto;
	margin-left: 0;
	margin-right: 0;
	height: 70%;
	
}

.Dropdown-control{
	height: 100%;
	padding-top: 0 !important;
	border-radius: 0 !important;
	background-color: rgb(17, 21, 24) !important;
	color: white !important;
	cursor: pointer !important;
	border: 1px solid #4d4855 !important;
	border-radius: 3px !important;
}

.Dropdown-arrow{
	top: 12px !important;
}

.Dropdown-menu{
	background-color: #2a3035 !important;
	border: none !important;
}

.Dropdown-option{
	color: white !important;
}

.Dropdown-option:hover{
	color: black !important;
}

.Dropdown-option.is-selected{
	background-color: #2e9afe93 !important;
}

.Dropdown-option.is-selected:hover{
	color: white !important;
}

.submit-button{
	height: 70%;
	margin: auto;
	margin-left: 6px;
	margin-right: 6px;
	background-color: rgb(17, 21, 24);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 3px !important;
	border: 1px solid #4d4855 !important;
}

.Dropdown-placeholder{
	padding-top: 1px;
}