.login-welcome {
  color: white;
  height: 100px;
}

.login-text-box {
  padding-top: 8.85px;
  padding-right: 13px;
  padding-bottom: 8.85px;
  padding-left: 13px;
  width: 100%;
  height: 45px;
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 14px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #546e7a;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  font-weight: 300;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.login {
	text-align: center;
}

.login-background {
	width: 100%;
	height: 700px;
	text-align: left;
	padding-top: 2%;
}

.login-box {
	width: 28%;
	background: white;
	padding: 40px 0 33px 0;
	border-radius: 3px;
	border: 1px solid #eeeeee;
	margin: 0 auto;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
	text-align: left;
}

.login-container {
	max-width: 21.25%;
	display: inline-block;
}

.login-form {
	padding-top: 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-span {
	display: inline-block;
	position: relative;
	width: 80%;
}

.login-input {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 16px 18px;
	background-position: 98% 50%;
	cursor: auto;
	padding: 8.85px 13px;
	font-size: 14px;
	width: 89%;
	height: 1.5vw;
}

.login-actions {
	margin-top: 20px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 0 12.5%;
}

.login-btn {
	padding: 0 13px;
	height: 3vw;
	width: 80%;
	cursor: pointer;
	border-radius: 3px;
	line-height: 20px;
	font-size: 16px;
	transition: 0.18s all ease-in-out;
	outline: 0;
	background-color: slateblue;
	color: white;
	text-align: center;
}

.login-options {
  color: black;
}
