.spec{
    list-style-type:none;
    margin-top: 10px;
}

.spec2{
    list-style-type:none;
    margin-top: 10px;
    display:flex;
    align-items: center;
}


.spec li{
    display:inline;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar2 {
    padding-top: 20px;
    text-align: center;
}

.link2 {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.navbar {
  z-index: 100;
  position: absolute;
  height: 50px;
  top: 0;
  margin-top: 25px;
  width: 100vw;
  display: block;
}

.condensed-logo{
    height: 25px;
    margin-top: 9px;
    margin-left: 3px;
}

.accordian-li{
    height: 40px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.accordian-li-b{
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.condensed-logo-container{
    height: 40px;

}

.condensed-icon{
    width: 13px !important;
    height: 13px !important;
    color: white;
    cursor: pointer;
}

.fullscreen-icon{
    width: 13px !important;
    height: 13px !important;
    color: white;
    cursor: pointer;
    right: 0;
}
.condensed-icon:hover{
    color: white;
}

.nav-container{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.link-container{
    margin-left: auto;
}

.logo-img{
    height: 40px;

}

.condensed-navbar {
    background: #403d4e;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
    position: relative;
    height: 100%;
   
    display: block;
    text-align: center;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}



.selected-accordian{
    border-bottom: 2px solid #2e9afe;
}

.tutorial-navbar{
	background-color: rgb(16, 18, 22);
	display: flex;
    height: 35px;
}

.link {
  text-decoration: none;
  letter-spacing: 0.1em;

  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
  font-family:  "Muli-Bold", sans-serif;
  font-size: 0.9em;
}

.settings-popup {
    display: none;
    position: fixed;
    width: 50%;
    bottom: 30%;
    right: 30%;
}

.settings-container {
    padding: 10px;
    background-color: white;
}

.profile-popup {
    display: none;
    position: fixed;
    width: 50%;
    bottom: 30%;
    right: 30%;
}

.profile-container {
    padding: 10px;
    background-color: white;
}

.pleaseLog-popup {
    display: none;
    position: fixed;
    width: 50%;
    bottom: 30%;
    right: 30%;
}

.pleaseLog-container {
    padding: 10px;
    background-color: white;
}

.condensed-link {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    display: inline-block;
    position: relative;
    color: white;
    width: 100%;
    font-family:  "Palanquin-Regular", sans-serif;
    padding-top: 7px;
    height: 40px;
    cursor: pointer;
}

.condensed-link-b {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    display: inline-block;
    position: relative;
    color: white;
    font-family:  "Palanquin-Regular", sans-serif;
    padding-top: 7px;
    height: 50px;
    cursor: pointer;
}

.condensed-link-active {
    border-left: 2px solid #2e9afe;
}

.top-navbar {
    z-index: 100;
    position: relative;
    width: 100%;
    height: 40px;
    display: block;
    margin: 15px;
    opacity: 0.95;
}


.left-navbar {
    position: absolute;
    margin: 15px;
    background-color: rgb(30, 32, 40);

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*border-right: 1px solid #4aa4ff5e;*/
    margin-bottom: 0;
    opacity: 0.95;
    
}

.left-navbar-blur {
    position: absolute;

    /*border-right: 1px solid #4aa4ff5e;*/
    margin-bottom: 0;
    opacity: 0.95;
}

.top-container{
    width: 100vw;
    display: flex;
    
    background-color: rgb(30, 32, 40);

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*border-bottom: 1px solid #4aa4ff5e;*/

    /*transform: translateY(-100%);*/
    /*animation: drop 1500ms cubic-bezier(0.215, 0.61, 0.355, 1);*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes drop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
}

.condensed-link:hover{
    color: white;
}

.glowing{
    color: #2e9afe !important;
}

.tutorial-link {
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 0.75em;
    color: #F0F0F0;
   
    font-family:  "Palanquin-Regular", sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px; 
    width: 100%;
}

.react-toggle-track {
    background-color: #24344d !important;
}
.tutorial-li {
    width: 100%;
    height: 35px;
    padding-top: 5px;
    align-items: center;
    cursor: pointer;
    margin: auto  !important;
}

.tutorial-li:hover {
    background-color: #282a31;
}

.tl-active { 
    background-color: rgb(30, 32, 40);
}

@font-face {
	font-family: 'Poppins-Regular';
	src: local('Poppins-Regular'), url(../Poppins-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Muli-Regular';
	src: local('Muli-Regular'), url(../Muli-Regular.woff) format('woff');
}

.link:after {
    background:  repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover{
    color: rgb(235, 235, 240);
}
.link:hover:after {
    width: 100%;
    left: 0;
}

.link-admin {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
  
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    color: black;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(28, 31, 34);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }