.result-fail {
  background-color: red;
}

.result-pass {
  background-color: green;
}

.result-container {
  height: 80px;
  width: 100px;
  margin: 15px;
}

.output {
  font-size: 13px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.output-container {
  height: 100%;
  width: 100%;
  background-color: rgb(30, 32, 40);
  color: white;
  font-family: monospace, serif;
  overflow-y: scroll;
}

.testcase-container {
  display: inline-block;
  width: 200px;
  height: 100%;
	background-color: #101216;
	font-family: "Palanquin-Regular";
	font-weight: bold;
	align-items: flex-start;

}

.testcase-results-container {
  display: flex;
	height: 100%;
	border-left: 1px solid rgb(17, 21, 24);
}

.testcase-details {
  display: inline-block;
  height: 100%;
  width: 70%;
  font-family: "Palanquin-Regular";
  margin-left: 20px;
  margin-right: 20px;
	margin-top: 40px;

}

.testcase-block {
  width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}

.testcase-pass {
  color: lightgreen;
}

.testcase-fail {
  color: red;
}

.testcase-li {
  cursor: pointer;
  list-style: none;
}

.testcase-li-active {
  cursor: pointer;
	list-style: none;
  background-color: rgb(30, 32, 40);
}


.testcase-code {
  white-space: pre-wrap;
  background: #131417 !important;
  font-family: "Courier New", Courier, monospace;
  padding: 10px 15px;
  color: d4d7e2;
  line-height: 1.6;
  font-size: 13px;
  border-radius: 6px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.testcase-noncode {
  text-align: left;
  font-size: 1.05rem;
  color: #d4d7e2;
  line-height: 1.6;
  font-weight: 500;
}

.testcase-ul {
	padding-left: 0 !important;
}