.problem-list-container{
    align-self: center;
    padding-top: 50px;
	background-color: rgb(28, 30, 34);
    border-color: black;
    border: solid 1px;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 10;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100vh;
}

.problem-item-container{
    color: white;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.difficulty-marker {
    width: 20px;
    height: 30px;
}

.d0{
    background-color: #34a373;
}
.d1{
    background-color: #f2b132;
}
.d2{
    background-color: #e54647;
}

.problem-item-text{
    margin: 0;
}

.table-entry {
    padding: 8px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: left;
}

.problem-name {
    padding: 8px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #08c;
    text-align: left;
}

.problem-row {
    background-color: white;
}

td {
    border: 0.5px solid black;
}

table {
    border-collapse: collapse;
    width: 60%;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f2f2f2;
}

