.problems-container{
   
    width: 100%;
    height: 95%;
    margin-top: 40px;
}

.problems-page{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(17, 21, 24);
}

@font-face {
    font-family: 'Anurati-Regular';
    src: local('Anurati-Regular'), url(./../Anurati-Regular.woff) format('woff');
}

.halo {
    position: relative;
    color: #fff;
    padding-left: .1em;
    padding-right: .1em;
    font-size: 0.7em;
    overflow-y: hidden;
    overflow-x: hidden;
}


.MuiStepper-root{
    padding: 10px !important;
    padding-top: 7px !important;
}

.MuiStepLabel-label{
    font-size: 0.8em !important;
}

.stepper-link:hover{
    cursor: pointer;
}

.MuiStepLabel-label{
    color: white !important;
}
.halo-anim {
    display: inline-block;
    position: relative;
    opacity: 1;
    animation: leftMove 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, fadeIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes leftMove {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.problems-wrapper{
    display: flex;
    width: 100%;
    transform: translateX(100%);
}

.pw-after{
    transform: translateX(0);
}
.halo-cover {
    /*background-image: radial-gradient(circle farthest-corner at center, rgb(23, 23, 23) 0%, #151923 100%);*/
    position: absolute;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 20;
    left: 0%; 
    opacity: 1; 
    background-color: rgb(18, 21, 27);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}

.welcome-back{
    position: relative;
    opacity: 0;

    font-size: 2em;
    animation: leftMove 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s, fadeIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 3.5s, welcomeFade 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 4s;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes welcomeFade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.halo-words-2{
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    text-align: center;

    font-size: 1em;
}

.halo-words{
    position: absolute;
    top:55vh;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    text-align: center;

    font-size: 1em;
}
.spinner{
    
    width: 80px;
    height: 80px;
    
    border: 2px solid grey;
    border-top:3px solid white;
    
    border-radius: 100%;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 30vh;
    box-shadow: inset 0 0 0 0px white, 0 0 0px white;
    animation: spin 0.5s infinite linear;
    overflow-x: hidden;
    transform: scale(0);
    
}

.tutorial-text-content{
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes glow {
    0%{
        box-shadow: inset 0 0 0 0px white, 0 0 0px white;
    }

    90%{
        box-shadow: inset 0 0 0 0px white, 0 0 0px white;
    }
    
    100%{
        box-shadow: inset 0 0 0 3px white, 0 0 4px white;
    }
}

@keyframes grow {
    0%{
        border-top:3px solid white;
    }
    90%{
        border:3px solid white;
    }
    
    100%{
        border:3px solid white;
    }
}

@keyframes shrink {
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(0);
    }
}


@keyframes spin {
    from{
        transform: rotate(0deg)scale(1);

    }to{
        transform: rotate(360deg) scale(1);
    }
}

.unity-view{
    width: 100%;

    z-index: 10;
    height: 100%;
}

.unity-view-hidden{
    z-index: 10;
    display: none;
}

.unity-admin-view{
    top: 0;
    z-index: 10;
}

.unity-admin-view-hidden{
    top: 0;
    z-index: 10;
    display: none;
}