.profile-card{
    width: 25vw;
    height: 50vh;
    background: linear-gradient(to top right, #444444, #222222);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    color: white;
}

.profile-container{
    margin-top: 60px;
}

.profile-pic{
    border-radius: 100%;
    width: 35%;
    margin-top: 30px;
}

.skillbar-container{
    width: 80%;
    height: 5px;
    background-color: grey;
    margin: auto;

}

.skillbar{
    width: 60%;
    height: 5px;
    background-color: yellow;
    animation: skillbarFill 1500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

@keyframes skillbarFill {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}