.syllabus-container{
    background-color: rgb(30, 32, 40);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    overflow-x: hidden;
    color: white;
    text-align: center;
    font-size: 0.8em;

    display: inline-block;
}



.syllabus-hidden{
    width: 0 !important;
}

.syllabus-active{
    background-color: #12151B;
    color:#2e9afe;
    border-left: 3px solid #2e9afe;

    animation: glowing 1300ms infinite;
}

.syllabus-active-parent{
    color:#2e9afe;
   
}

@keyframes glowing {
    0% { background-color: rgb(19, 23, 31);  }
    50% { background-color: #12151B;  }
    100% { background-color: rgb(19, 23, 31);  }
    }

.syllabus-list{
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    display: block;
    text-align: left;
    line-height: 20px;
}

.syllabus-list li{
    width: 100%;
    padding: 8px 10px 8px 20px;

    display: list-item;
    text-align: -webkit-match-parent;
}

.inner-list{
    padding-left: 10px;

    list-style: none;
    display: block;
    line-height: 20px;
}

.syllabus-header{
    background-color: rgb(16, 18, 22);
    height: 35px;
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
    opacity: 0.95;
    backdrop-filter: blur(4px);
}

.syllabus-link{
    cursor: pointer;
}

.syllabus-link:hover{
    color: grey;
    background-color: rgb(39, 44, 54);
}
