.header-container {
    min-height: 10vh;
    background: grey;
    background: rgb(212,212,212);
    background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgba(255,255,255,1) 100%);
}

.hr-theme-slash-2 {
    display: flex;
}

.hr-line {
    margin: auto;
    width: 30vh;
    border-bottom: 5px solid goldenrod;
}

.prefixHeader {
    color: grey;
    text-align: center;
}

.descText {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
}

.team-container {
    margin-top: 60px;
}