
.difficulty{
    border-radius: 4px;
    color: white !important;
    padding: 0 5px;
    line-height: 1em;
    font-size: 0.9em;
    height: 18px ;
    width: auto !important;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-icon{
  width: auto !important;
  height: 50px;
  animation: hex-fade-in 1.8s infinite;
}

.skill-icon-shifted{
  width: auto !important;
  height: 50px;
  transform: translateX(50%) translateY(-36%);
  animation: hex-fade-in 2s infinite;
}

.vertical-span{
    float: left;
    padding: 2px;
}

@keyframes hex-fade-in {
    0% {
      opacity: 0.8;
    }
    50%{
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }

  .margin-auto-p{
    margin-top: auto;
    margin-bottom: auto;
  }

.easy{
  background: rgb(92, 184, 92);
}

.medium{
    background: rgb(240, 193, 78);
}

.hard{
    background: rgb(217, 83, 79);
}

.game-header{
    background-color: grey;
}

.minigame-button{
    margin: 7px;
    background: #131417;
    min-width: 40%;
    border: 0;
    border-radius: 6px;
    color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    letter-spacing: 1.2px;
    font-weight: 600;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    display: inline-block;
    
}

.explanation-button{
    margin: 10px;
    background: rgb(226, 157, 53);
    min-width: 40%;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    letter-spacing: 1.2px;
    font-weight: 600;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: middle;
    overflow: hidden;
}

.material-icon{
    border-radius: 100%;
    display: inline-block;
    animation: ripple 0.6s linear infinite;
    width: 20px;
    height: auto;
}

.vertical-span{
    float: left;
    padding: 2px;
}

.code-block-mirror{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  height: 100%;
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
                  0 0 0 20px rgba(255, 255, 255, 0.1),
                  0 0 0 40px rgba(255, 255, 255, 0.1),
                  0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
                  0 0 0 40px rgba(255, 255, 255, 0.1),
                  0 0 0 60px rgba(255, 255, 255, 0.1),
                  0 0 0 80px rgba(255, 255, 255, 0);
    }
  }

  .skill-icon{
      width: 100px;
  }

#game-checkbox, #game-checkbox-launch{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 !important;
}

#explanation-checkbox{
  width: 20px;
  height: 20px;
  background: #D4D5D6;
  display: inline-block;
  padding: 0 !important;
}


.checked-box{
    background: green !important;
}

.logo-blocks{
    width: 100%;
    height: 70px;
}

  .count-block{
    background-color: #2a3035;
    background-size: auto 16px;
    background-repeat: no-repeat;
    height: 20px ;
    width: auto !important;
    float: left;
    box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
    border-radius: 4px;
    background-position: 2px center;
    color: white;
    margin: 3px;
    font-size: 0.9em;
    text-align: center;
    padding: 3px;
    line-height: 1em;
    padding-left: 22px;
    display: flex;
    cursor: pointer;
    
  }
  
  .credits{
    font-size: 0.7em;
    font-style: italic;
  }

  .float2{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .float3{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 2px); }
    to   { transform: translate(0, -0px); }    
}
  
  .google-block {
    background-image: url(../imgs/blocks/google.png);
  }

  .bloomberg-block {
    background-image: url(../imgs/blocks/bloomberg.png);
  }

  .palantir-block {
    background-image: url(../imgs/blocks/palantir.png);
  }

  .facebook-block {
    background-image: url(../imgs/blocks/facebook.png);
  }

  .amazon-block {
    background-image: url(../imgs/blocks/amazon.png);
  }


  .icpc-block {
    background-image: url(../imgs/blocks/icpc.png);
  }

  .usaco-block {
    background-image: url(../imgs/blocks/usaco.png);
  }

  .section-title{
    font-size: 1.2em;
    background-color: rgb(16, 18, 22);
    margin: 0px !important;
    padding-left: 40px !important;
    background-size: auto 16px;
    background-repeat: no-repeat;
    background-position: 12px center;
    margin-bottom: 15px !important;
  }

  .intuition-section{
    background-image: url(../imgs/tutorials/cogs-solid.png);
  }

  .time-section{
    background-image: url(../imgs/tutorials/hourglass-half-solid.png);
  }

  .space-section{
    background-image: url(../imgs/tutorials/memory-solid.png);
  }

  .introduction-section{
    background-image: url(../imgs/tutorials/introduction.png);
  }

  .strategy-section{
    background-image: url(../imgs/tutorials/logo-center.png);
  }

  .usage-section{
    background-image: url(../imgs/tutorials/usage.png);
  }

  .problem-section{
    background-image: url(../imgs/tutorials/problem.png);
  }

  .directions-section{
    background-image: url(../imgs/tutorials/check.png);
  }

  .flex-div{
    display: flex;
  }

  .tutorial-container{
	
  height: 89%;
  width: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
	background-color:rgb(30, 32, 40);

	text-align: left;
  overflow-y: scroll;
  font-size: 1.05rem;
  
    color: #d4d7e2;
    line-height: 1.6;
    border-left: 1px solid rgb(17, 21, 24);
    font-weight: 500;
    padding: 15px;
    scroll-behavior: smooth;

} 

.tutorial-container h4{
    color: #d4d7e2;
}

.tutorial-image{
  float:left;
  max-height: 150px;
}
.tutorial-container h3{
  color: #d4d7e2;
}

.tutorial-container h1{
  color: #d4d7e2;
  font-size: 1.3em;
  margin-top: 5px;
}

.content-image{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.tutorial-container h2{
    font-size: 0.8em;
    color: #d4d7e2;
}

.orange-span{
  color: rgb(253, 151, 31);
}

.tutorial-container hr{
  margin: auto;
  margin-top: 20px;
  height: 1px;
  color: rgb(17, 21, 24) !important;
  background-color: rgb(17, 21, 24) !important;
  border: none;
}

.tutorial-container pre{
  white-space: pre-wrap;
  background: #131417 !important;
  padding: 10px 15px;
  color: d4d7e2;
  line-height: 1.6;
  font-size: 13px;
  border-radius: 6px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.game-section{
    display: flex;
}

.tutorial-container b{
    color: #2e9afe !important;
}

.tutorial-container strong{
    color: #2e9afe !important;
}

.icon-desc{
  transform: translateY(-80%);
  display: inline-block;
}


.button-hold {
  margin: 5px;
	 --color: #f6f8ff;
	 --background: #2a3035;
	 --icon: var(--color);
	 --progress-border: #646b8c;
	 --progress-active: #fff;
	 --progress-success: #5c86ff;
	 --tick-stroke: var(--progress-active);
	 --shadow: rgba(0, 9, 61, .2);
	 font-size: 16px;
   font-weight: 500;
	 line-height: 19px;
	 min-width: 112px;
	 padding: 12px 20px 12px 12px;
	 border: 0;
	 outline: none;
	 user-select: none;
	 cursor: pointer;
	 -webkit-backface-visibility: hidden;
	 -webkit-appearance: none;
	 transition: transform 0.3s, box-shadow 0.3s;
	 box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 12px) var(--shadow);
	 transform: scale(var(--scale, 1)) translateZ(0);
	 color: var(--color);
	 background: var(--background);
}
 .button-hold > div {
	 margin-right: 4px;
	 border-radius: 50%;
	 display: inline-block;
	 vertical-align: top;
	 position: relative;
	 background: var(--progress-border);
}
 .button-hold > div:before {
	 content: '';
	 width: 16px;
	 height: 16px;
	 left: 2px;
	 top: 2px;
	 z-index: 1;
	 position: absolute;
	 background: var(--background);
	 border-radius: inherit;
	 transform: scale(var(--background-scale, 1));
	 transition: transform 0.32s ease;
}
 .button-hold > div svg {
	 display: block;
}
 .button-hold > div svg.icon, .button-hold > div svg.tick {
	 position: absolute;
}
 .button-hold > div svg.icon {
	 width: 8px;
	 height: 8px;
	 left: 6px;
	 top: 6px;
	 fill: var(--icon);
	 z-index: 1;
	 transition: opacity 0.2s, transform 0.2s;
	 opacity: var(--icon-opacity, 1);
	 transform: translateY(var(--icon-y, 0)) scale(var(--icon-scale, 1));
}
 .button-hold > div svg.progress, .button-hold > div svg.tick {
	 fill: none;
}
 .button-hold > div svg.progress {
	 width: 20px;
	 height: 20px;
	 transform: rotate(-90deg) scale(var(--progress-scale, 1));
	 transition: transform 0.5s ease;
}
 .button-hold > div svg.progress circle {
	 stroke-dashoffset: 1;
	 stroke-dasharray: var(--progress-array, 0) 52;
	 stroke-width: 16;
	 stroke: var(--progress-active);
	 transition: stroke-dasharray var(--duration) linear;
}
 .button-hold > div svg.tick {
	 width: 20px;
	 height: 20px;
	 left: 0;
	 top: 0;
	 stroke-width: 3;
	 stroke-linecap: round;
	 stroke-linejoin: round;
	 stroke: var(--tick-stroke);
	 transition: stroke 0.3s ease 0.7s;
}
 .button-hold > div svg.tick polyline {
	 stroke-dasharray: 18 18 18;
	 stroke-dashoffset: var(--tick-offset, 18);
	 transition: stroke-dashoffset 0.4s ease 0.7s;
}
 .button-hold:focus:not(.process), .button-hold:hover:not(.process) {
	 --shadow-y: 8px;
	 --shadow-blur: 16px;
}
 .button-hold:active:not(.success) {
	 --scale: 0.96;
	 --shadow-y: 4px;
	 --shadow-blur: 8px;
}
 .button-hold.process, .button-hold.success {
	 --progress-array: 52;
	 --icon-y: -4px;
	 --icon-scale: 0.6;
	 --icon-opacity: 0;
}
 .button-hold.success {
	 --progress-border: none;
	 --progress-scale: 0.11;
	 --tick-stroke: var(--progress-success);
	 --background-scale: 0;
	 --tick-offset: 36;
}
 .button-hold.success > div svg.progress {
	 animation: tick 0.3s linear forwards 0.4s;
}
 @keyframes tick {
	 100% {
		 transform: rotate(-90deg) translate(0, -5px) scale(var(--progress-scale));
	}
}

.count-span { 
  display: inline-block;
  background: rgb(17, 21, 24) !important;
  margin: 1px 3px !important;
  padding: 0px 4px !important;
  height: 95% !important;
  line-height: 0.8em !important;
  border-radius: 4px;
}

.block-container{
  background: #131417;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
}

.script-title{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #2e9afe; 
  padding-left: 0px !important;
  padding-right: 0px !important;
  cursor: help;
}

.tooltip-hex {
  display: inline-block;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tooltip-hex .tooltiptext {
  width: 220px;
  background-color: rgb(17, 21, 24);
  color: #fff;
  padding: 15px;
  border-radius: 6px;
  transform: translateX(-100%) translateY(20%);
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.tooltip:hover .tooltiptext {
  opacity: 1 !important;
}


.tooltip .tooltiptext {
  width: 220px;
  background-color: rgb(17, 21, 24);
  color: #fff;
  padding: 15px;
  border-radius: 6px;
  transform: translateX(-50%) translateY(20%);
  position: absolute;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.tooltip:hover .tooltiptext {
  opacity: 1 !important;
}

.achievement-banner {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  margin: 0 auto;
  font-size: 225%;
  width: 10em;
	color: #efefef;
	background: #22252b;
	border-radius: 10em;
  position: absolute;
  bottom: 50px;
  left: 80px;
  padding: .125em;
  min-height: 1.5em;
  overflow: hidden;
  z-index: 200;
}
.achievement-banner .achievement-icon {
	border-radius: 10em;
	position: relative;
  background: #000;
  border: .125em solid rgb(195, 200, 245);
	border-top-color: #2a60d4;
  height: 1.25em;
  width: 1.25em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 100;
}
.achievement-banner .achievement-icon .icon {
  display: block;
  border-radius: 10em;
  border: 4px solid #000;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  z-index: 1000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.achievement-banner .achievement-icon .icon .icon-trophy {
  font-size: 75%;
  line-height: 1;
  position: relative;
  top: -.125em;
}
.achievement-banner .achievement-text {
	font-family: "Trebuchet MS";
  text-shadow: 0 2px 0 #000;
  position: absolute;
  top: .5em;
  left: 4em;
  font-size: 50%;
  line-height: 1;
  width: 400%;
}
.achievement-banner .achievement-notification {
  margin: 0;
}
.achievement-banner .achievement-name {
  margin: 0;
}

/* Generated content */
.achievement-banner .achievement-icon:before,
.achievement-banner .achievement-icon:after,
.achievement-banner .achievement-icon .icon:before,
.achievement-banner .achievement-icon .icon:after {
	content: "";
	display: block;
	position: absolute;
}

.achievement-banner .achievement-icon:before{
  border-radius: 12em;
  z-index: -100;
  background: transparent;
  border: 4px solid #000;
  top: -.175em;
  left: -.175em;
  right: -.175em;
  bottom: -.175em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Bars */
.achievement-banner .achievement-icon .icon:before,
.achievement-banner .achievement-icon .icon:after {
  width: 150%;
  height: .125em;
  background: #000;
  border-radius: .05em;
  z-index: -10;
  top: 42.5%;
  left: -25%;
}

.achievement-banner .achievement-icon .icon:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Animations */

/* open-close-banner */
@-webkit-keyframes open-close-banner {
  0% {width: 1.5em; opacity: 0;}
  2% {width: 1.5em; opacity: 1;}
  8% {width: 10em;}
  80% {width: 10em;}
  90% {width: 1.5em; opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  98% {
    width: 1.5em;
    -webkit-transform: rotate(720deg);
  }
  100% {width: 1.5em; opacity: 0;}
}
@-moz-keyframes open-close-banner {
  0% {width: 1.5em; opacity: 0;}
  2% {width: 1.5em; opacity: 1;}
  8% {width: 10em;}
  80% {width: 10em;}
  90% {
    width: 1.5em; 
    opacity: 1;
    -moz-transform: rotate(0deg);
  }
  98% {
    width: 1.5em;
    -moz-transform: rotate(720deg);
  }
  100% {width: 1.5em; opacity: 0;}
}
@keyframes open-close-banner {
  0% {width: 1.5em; opacity: 0;}
  2% {width: 1.5em; opacity: 1;}
  8% {width: 10em;}
  80% {width: 10em;}
  90% {
    width: 1.5em; 
    opacity: 1;
    transform: rotate(0deg);
  }
  98% {
    width: 1.5em;
    transform: rotate(720deg);
  }
  100% {width: 1.5em; opacity: 0;}
}

/* border-top-pulse */
@-webkit-keyframes border-top-pulse {
  0% {border-top-color: rgb(195, 198, 245);}
  40% {border-top-color: #ffffff;}
  80% {border-top-color: #2a65d4;}
  100% {border-top-color: #2961c9;}
}
@-moz-keyframes border-top-pulse {
  0% {border-top-color: rgb(195, 198, 245);}
  40% {border-top-color: #ffffff;}
  80% {border-top-color: #2a65d4;}
  100% {border-top-color: #2961c9;}
}
@keyframes border-top-pulse {
  0% {border-top-color: rgb(195, 198, 245);}
  40% {border-top-color: #ffffff;}
  80% {border-top-color: #2a65d4;}
  100% {border-top-color: #2961c9;}
}
@-webkit-keyframes fade-in-text {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fade-in-text {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in-text {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
.achievement-banner {
  -webkit-animation: open-close-banner 5s 1;
  -moz-animation: open-close-banner 5s 1;
  animation: open-close-banner 5s 1;
}

.achievement-banner .achievement-icon {
  /* Make border-top pulse. */
  -webkit-animation: border-top-pulse 1.25s 2;
  -moz-animation: border-top-pulse 1.25s 2;
  animation: border-top-pulse 1.25s 2;
}
/* fade-in-text */
.achievement-banner .achievement-text {
  -webkit-animation: fade-in-text .5s 1;
  -moz-animation: fade-in-text .5s 1;
  animation: fade-in-text .5s 1;
}

.pointer-events-none{
  pointer-events: none;
}