body {
  margin: 0;
  font-family: 'Palanquin-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;

}

html{
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Muli-Regular';
  src: local('Muli-Regular'), url(./Muli-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Palanquin-Regular';
  src: local('Palanquin-Regular'), url(./Palanquin-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./Roboto-Regular.woff) format('woff');
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;

}

.app {
  height: 100vh;
}

blockquote{
  background: #131417;
  width: 90%;
  margin: 1.5em 0.5em;
  padding: 18px;
  padding-left: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #e1e2eb;
  align-items: center;
  animation: blockquoteReveal 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes blockquoteReveal {
  0%{
      opacity: 0;
  }

  100%{
      opacity:  1;
  }
}

.collapsible {
  text-align: left;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
  animation: blockquoteReveal 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0em 7px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #131417;
  background-image: url(./imgs/chevron-down-solid.png);
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: 98% center;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background: #131417;
  background-image: url(./imgs/chevron-up-solid.png);
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: 98% center;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  width: 100%;
  margin: 0em 7px;
  padding: 0 18px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  overflow: hidden;
  display: block;
  max-height: 0px;
  transition: all 1s ease 0s;
  background: #131417;
  color: white;
}

.quote-blue {
  border-left: 5px solid #1488C6;
  background-image: url(./imgs/key-solid.png);
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.quote-red {
  border-left: 5px solid #e8312e;

  background-image: url(./imgs/exclamation-triangle-solid.png);
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.quote-yellow {
  border-left: 5px solid #f8f419;
  background-image: url(./imgs/lightbulb-regular.png);
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}


.quote-grey {
  border-left: 5px solid #b3b3bd;
  background-image: url(./imgs/bullseye-solid.png);
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}


.quote-purple {
  border-left: 5px solid #9d11d4;
  background-image: url(./imgs/info-circle-solid.png);
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.particles{
  z-index: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.atlas-code-container{
  display: flex;
  position: absolute;
  top: 55px;
  left: 65px;
  transition: all 0.5s;
  width: 100%;
  z-index: 100;
  opacity: 0;
  margin: 15px;
 
} 

.no-pointer-events{
  pointer-events: none;
}

.atlas-code-active{
  opacity: 1;
  
}

.glow-block{
  width: 10px;
  height: 10px;
  background-color: grey;
  margin: auto;
}

.glow-active {
  background-color: white;

  text-shadow: 0 0 3px white;
}

.grKeaH{
  background-color: rgb(17, 21, 24) !important;
  color: white !important;
  
}

h2{
  font-size: 1.2em;
}

h1{
  font-size: 1.6em;
}

progress::-webkit-progress-value { background-color: white !important; }

#dpi {
  height: 1in;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 1in;
}